*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(89, 90, 106);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(69,64,64);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}